<div class="container pt-5">
    <div class="row ">
        <div class="col text-center">
            <h1>PORTFOLIO COMPONENT </h1>
        </div>
        <div class="staar  d-flex justify-content-center ">
            <p></p>
            <i class="fa-regular fa-star"></i>
            <p></p>
        </div>

        <div class="col-md-4  p-5">
            <div class="port w-100">
                <i class="fa-solid fa-plus"></i>
                <img src="../../assets/portfolio/1.jpg" alt="" class="w-100">    
            </div>
        </div>
        <div class="col-md-4  p-5">
            <div class="port w-100">
                <i class="fa-solid fa-plus"></i>
                <img src="../../assets/portfolio/2.jpg" alt="" class="w-100">    
            </div>
        </div>
        <div class="col-md-4  p-5">
            <div class="port w-100">
                <i class="fa-solid fa-plus"></i>
                <img src="../../assets/portfolio/3.jpg" alt="" class="w-100">    
            </div>
        </div>
        <div class="col-md-4  p-5">
            <div class="port w-100">
                <i class="fa-solid fa-plus"></i>
                <img src="../../assets/portfolio/4.jpg" alt="" class="w-100">    
            </div>
        </div>
        <div class="col-md-4  p-5">
            <div class="port w-100">
                <i class="fa-solid fa-plus"></i>
                <img src="../../assets/portfolio/5.jpg" alt="" class="w-100">    
            </div>
        </div>
        <div class="col-md-4  p-5">
            <div class="port w-100">
                <i class="fa-solid fa-plus"></i>
                <img src="../../assets/portfolio/6.jpg" alt="" class="w-100">    
            </div>
        </div>


        <!--  -->
    </div>
</div>

